[Unit]
Description=AIScannerStore API service
After=network.target

[Service]
Type=simple
ExecStart=/bin/dotnet /home/reinir/repos/AIScannerStore_BE/publish/AIScannerStore_API.dll
Restart=on-failure
WorkingDirectory=/home/reinir/repos/AIScannerStore_BE/publish

[Install]
WantedBy=default.target
